body {
  color: azure;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(#42d4f4, #bf42f4) ;
  background-attachment: fixed;
  background-size: cover;
}

td {
  text-align: center;
  padding: 0px;
}

th {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #262626 !important;
}

tbody:before {
  content:"@";
  display:block;
  line-height:10px;
  text-indent:-99999px;
}

tr {
  background-color: #262626;
  padding: 20px
}

table {
  color: azure;
  font-size: 18px;
  border-collapse: collapse;
  border-spacing:0;
}

tr:nth-child(odd) {
  background-color: #333333
}

input {
  padding: 0px 5px 0px 10px;
  margin: 10px 0px 10px 0px;
  width: 100%;
  height: 40px;
  background-color: #262626;
  border: 0px;
  color: azure;
  font-size: 15px;
  font-family: Roboto;
}

textarea {
  padding: 10px 10px 10px 10px;
  margin: 10px 0px 10px 0px;
  width: 100%;
  background-color: #262626;
  border: 0px;
  color: azure;
  font-family: Roboto;
  font-size: 15px
}

.alert {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

.alert-close {
  margin: 10px 12px;
}

.alert-text {
  margin: 10px 12px;
}

.success {
  background-color: #c3ffea;
  color: #32d296;
  fill: #32d296;
}

.failure {
  background-color: #fef4f6;
  color: #f0506e;
  fill: #f0506e;
}

.submit {
  color: #42d4f4;
  padding: 0px;
}

.submit:hover {
  color: #bf42f4;
}

.dt-field-padding {
  padding: 6px !important;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 40px;    /* Footer height */    
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;            /* Footer height */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px
}

a, a:visited {
  color: #42d4f4;
  text-decoration: none;
}

a:hover {
  color: #bf42f4;
}

.background-dark {
  background-color: #262626
}

.navbar {
  display: flex;
  justify-content: center;
  margin: 0px;
  height: 40px;
  width: 100%
}

.nav-items {
  padding: 0;
  list-style-type: none;
  margin: auto;
}

.nav-item {
  display: inline;
  margin: 5px;
}

.profile-flex {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-content {
  flex-direction: column;
  padding: 20;
  display: flex;
  justify-content: center;
}

.profile-name {
  margin: auto;
  font-size: 200%;
  margin-bottom: 10px
}

.social-list {
  padding: 0;
  text-align: center;
  list-style: none;
}

.profile-info {
  width: 300px;
  text-align: center;
  margin-bottom: 10px
}

.profile-image {
  margin: auto;
  margin-bottom: 10px;
  background-image: url("profileimage.png");
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #262626;
  margin: 20px 20px 8px 20px;
  padding: 20px;
  max-width: 750px;
  text-align: center;
  font-size: 17px;
  color: azure;
}

.form-container {
  padding: 0px;
  margin: 0px;
  max-width: 750px;
  color: azure;
}

.form-flex {
  text-align: center;
  margin: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 80px);
}


.projects-table {
  margin: 20px 20px 8px 20px;
}

.projects-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}

.content {
  padding: 0 7px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible {
  cursor: pointer;
  margin: 0px;
  padding: 6px;
  border: none;
  text-align: center;
  outline: none;
  color: #42d4f4;
}

.collapsible:hover {
  color: #bf42f4;
}

.active {
  box-shadow: 0 4px 2px -2px black;
}

.collapsible-text {
  padding: 0px;
  margin: 0px;
}

.project-info {
  list-style-type: none;
  margin: 0px;
  padding: 7px;
}

@media only screen and (max-width: 800px) {
  th.hide-first, td.hide-first {
    display:none;
  }

  .about-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: initial;
  }
}

@media only screen and (max-width: 600px) {
  th.hide-second, td.hide-second {
    display:none;
  }
}

@media only screen and (max-width: 450px) {
  .normal-table {
    display: none;
  }

  .projects-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: initial;
  }

  .form-container {
    padding: 0px;
    margin: 0px;
    max-width: calc(100vw -20px);
    color: azure;
  }
}

@media only screen and (min-width: 450px) {
  .mobile-table {
    display: none;
  }
}