<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}Jordan Jenner</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <script src="/static/js/jquery-3.4.1.min.js"></script>
  <script src="/static/js/scripts.js"></script>
</head>
<body>
  <div class="page-container">
    <div class="content-wrap">
      <div class="navbar background-dark">
        <ul class="nav-items">
          {% for page in pages %}
            <li class="nav-item"><a href="/{% if page.url is not None %}{{ page.url }}/{% endif %}">{{ page.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% block content %}
  
      {% endblock %}
    </div>
    <div class="footer">© Jordan Jenner {% now 'Y' %}</div>
  </div>
</body>
</html>