{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block content %}
<div class="profile-flex">
  <div></div>
  <div class="profile-content">
    <div class="profile-name">Jordan Jenner</div>
    <div class="profile-info">
      <p>A third year university student working towards a Bachelor's Degree in Computer Networks and Security, with experience in Python, Django, PHP, SQL, HTML and CSS.</p>
      <!-- If you see this, hire me :) -->
    </div>
    <ul class="social-list">
    {% for social in socials %}
      <li><a href="{{ social.url }}">{{ social.text }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}