{% extends 'base.html' %}

{% load static %}

{% block title %}Projects | {% endblock %}

{% block content %}
<div class="projects-flex">
  <table class="projects-table">
    <thead>
      <tr>
        <th class="">
          Project Name
        </th>
        <th class="hide-first normal-table">
          Date Created
        </th>
        <th class="normal-table">
          Last Updated
        </th>
        <th class="normal-table">
          Language
        </th>
        <th class="normal-table">
          Size (kB)
        </th>
        <th class="normal-table">
          Live?
        </th>
      </tr>
    </thead>
    {% for project in projects %}
    <tr class="project-row normal-table">
      <td class="dt-field-padding">
      {% if project.is_private == False %}
        <a href="{{ project.repo_url }}" target="_blank">{{ project.name }}</a>
      {% else %}
        {{ project.name }}
      {% endif %}
      </td>
      <td class="hide-first dt-field-padding">
          {{ project.creation_date|date:"d/m/Y" }}
      </td>
      <td class="dt-field-padding">
        {{ project.last_updated|date:"d/m/Y" }}
      </td>
      <td class="dt-field-padding">
        {{ project.language }}
      </td>
      <td class="dt-field-padding">
        {{ project.size }}
      </td>
      <td class="dt-field-padding">
        {% if project.is_live == True %}
          <a href="{{ project.live_url }}" target="_blank">Yes</a>
        {% else %}
          No
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    {% for project in projects %}
    <tr class="project-row mobile-table">
      <td>
        <p class="collapsible">{{ project.name }}</p>
        <div class="content">
          <ul class="project-info">
            <li>Date created: {{ project.creation_date|date:"d/m/Y" }}</li>
            <li>Last updated: {{ project.last_updated|date:"d/m/Y" }}</li>
            <li>Language: {{ project.language }}</li>
            {% if project.is_private == False %}
            <li>Repo Link: <a href="{{ project.repo_url }}">{{ project.repo_url }}</a></li>
            {% endif %}
            {% if project.is_live == True %}
            <li>Live Link: {{ project.live_url }}</li>
            {% endif %}
          </ul>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}