{% extends 'base.html' %}

{% load static %}

{% block title %}Projects | {% endblock %}

{% block content %}
<div class="projects-flex">
  <table class="projects-table">
    <thead>
      <tr>
        <th class="">
          Project Name
        </th>
        <th class="hide-first normal-table">
          Date Created
        </th>
        <th class="normal-table">
          Last Updated
        </th>
        <th class="normal-table">
          Primary Language
        </th>
        <th class="hide-second normal-table">
          Private/Public
        </th>
      </tr>
    </thead>
    {% for project in projects %}
    <tr class="project-row normal-table">
      <td>
      {% if project.is_private == False %}
        <a href="{{ project.repo_url }}" target="_blank">{{ project.name }}</a>
      {% else %}
        {{ project.name }}
      {% endif %}
      </td>
      <td class="hide-first">
          {{ project.creation_date|date:"d/m/Y" }}
      </td>
      <td>
        {{ project.last_updated|date:"d/m/Y" }}
      </td>
      <td>
        {{ project.language }}
      </td>
      <td class="hide-second">
        {% if project.is_private == False %}
          Public
        {% else %}
          Private
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    {% for project in projects %}
    <tr class="project-row mobile-table">
      <td>
        <p class="collapsible">{{ project.name }}</p>
        <div class="content">
          <ul class="project-info">
            <li>Date created: {{ project.creation_date|date:"d/m/Y" }}</li>
            <li>Last updated: {{ project.last_updated|date:"d/m/Y" }}</li>
            <li>Language: {{ project.language }}</li>
            <li>Privacy: {% if project.is_private == False %}
                                  Public
                                {% else %}
                                  Private
                                {% endif %}</li>
            {% if project.is_private == False %}
            <li>Link: {{ project.repo_url }}</li>
            {% endif %}
          </ul>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}